<h1>Search results</h1>
<div class="container">
  <div class="card">{{#each artists}}
      {{#each images}}
        {{#if @first}}
          <img style="width: 200px;" src="{{this.url}}" alt="" />
        {{/if}}
      {{/each}}
      <h1>{{name}}</h1>
      <a href="/albums/{{id}}"><button>View albums</button></a>
    {{/each}}</div>
</div>