<h1 class="newh1">Tracks for album</h1>
<h2 class="newh2">{{albumName}}</h2>
<div class="outSideContainer">
  <div class="TrackContainer">
    {{#each tracks}}
      <div class="track-card">
        <h3 class="newh3">{{name}}</h3>
        <audio controls src="{{preview_url}}"></audio>
      </div>
    {{/each}}
  </div>
</div>